
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #edf0f1; */
  height: 100%;
  
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cairo , sans-serif;;
  list-style: none;
  text-decoration: none;
}

#root
{
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* height: 100vh; */
  overflow: hidden;
}


.container
{
  background: white;
  margin: 5%;
  padding: 52px;
  box-shadow: 0px 0px 20px 7px #ffc78d17;
  border-radius: 8px;
  transition: all ease-in-out 0.3s;
  animation: fadeIn 0.8s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
opacity: 1;
  }
}

@keyframes slideIn {
  from {
    padding-left: 0px;
  }
  to {
    padding-left: 10px;
  }
}
@keyframes slideUp {
  from{
    margin-top: 15%;
  }
  to {
    margin-top: 0%;
  }
}

@media (max-width:1200px) {
  /*     to be added on click of navBtn
  #contactContainer , #homeContainer , #aboutContainer , .container
  {
      display: none;
  } */
  #homeContainer, .container
      {
          display: inline-block;
      }
  }