
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #edf0f1; */
  
  height: 100vh;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cairo , sans-serif;;
  list-style: none;
  text-decoration: none;
}

#root
{
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.container
{
  background: floralwhite;
  margin: 5%;
  padding: 52px;
  box-shadow: 0px 0px 20px 7px #ffc78d17;
  border-radius: 8px;
  transition: all ease-in-out 0.3s;
  animation: fadeIn 0.8s;
}
#firstParag
{
  display: flex;
  justify-items: center;
  justify-content: center;
  animation: fadeIn 0.8s;
}

#firstParag p{
  margin: 20px 0;
}

#firstParag img{
  width: 50%;
  box-shadow: 0px 0px 20px 7px #00000036;
  margin-left: 50px;
  animation : fadeIn 1.2s;
  border-radius:15px;
}

#secondParag 
{
  display: flex;
  justify-content: center;
}

#thirdParag
{
  display: flex;
  justify-content: space-around;
}

#thirdParag > div
{
  width: 40%;
}

#thirdParag h3 , #forthParag h3
{
  text-align: center;
  margin-bottom: 15px;
}

#thirdParag li , #forthParag li{
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 15px;
    background: white;
    box-shadow: 0px 0px 20px 10px #bdbdbd21;
    align-items: center;
    display: flex;
    animation: slideUp 1s;

}

#thirdParag li svg , #forthParag li svg
{width: 10%;
  font-size: 3rem;
  color: #faa61a;
  margin-right: 15px;
}
.container h2
{
  border-left: 5px #faa61a solid;
  padding-left: 10px;
  animation: slideIn 1.2s;
  margin-bottom: 20px;
}

.container hr
{
  width: 70px;
  border: 3px solid #faa61a;
  margin: 50px auto;
  border-radius: 10px;
}

.container .card 
{
  display: flex;
    border-radius: 25px;
    width: 33%;
    background: white;
    height: 30rem;
    margin: 0 15px;
    padding: 15px;
    box-shadow: 0px 0px 20px 10px #bdbdbd21;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* transition: all 0.8s ease-in-out; */
}
.container .card p
{
  text-align: center;
}

.card svg 
{
  font-size: 100px;
  color: #faa61a;
}
#purpose
{
  animation: slideUp 1s;
}
#vision
{
  animation: slideUp 1.3s;
}
#mission
{
  animation: slideUp 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
opacity: 1;
  }
}

@keyframes slideIn {
  from {
    padding-left: 0px;
  }
  to {
    padding-left: 10px;
  }
}
@keyframes slideUp {
  from{
    margin-top: 15%;
  }
  to {
    margin-top: 0%;
  }
}